@font-face {
    font-family: 'Booxel';
    src: URL('bookxel.ttf') format('truetype');
}

#unity-canvas{
    width: 80vw;  /* 80% of viewport width */
    height: 80vh; /* 80% of viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #231F20;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;

    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

#background{
    background-image: url('slimetopia.png'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}

#SlimeTopia{
    color: #00C505;
    font-family: 'Booxel';
    text-align: center;
    font-size: 64px;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: -3px 1px 2px rgb(0, 0, 0, 0.501960784);

    position: absolute;
    top:16px;
    left: 0;
    right: 0;
    margin:auto;
}

a{
    font-size: 20px;
    font-family: Arial;
    text-decoration: none;

    position: absolute;
    bottom: 12px;
    right: 12px;
    margin:auto;
}

#discord{
    color:#7289da;
}

#discord-image{
    position: absolute;
    bottom: 13px;
    right: 84px;

    width: 24px;
    height: 24px;
}